*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 1020px;
}
/*--------------header--------------*/
.header{
    background-color: #323232;
    height: 63px;
}
.main-menu__item{
    list-style: none;
    padding-right: 20px;
}
.main-menu__list{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.main-menu__link{
    color: #fff;
    font: 700 10px/5px 'Lato', sans-serif; 
    text-decoration: none;
    text-transform: uppercase;
}
.main-menu__link:hover{
    color: #2eb398;
}
.logo{
    padding: 8px 37px 0 17px;
    transform: rotateX(0deg);
    transition: transform 5s;  
}
.logo:hover{
    transform: rotateX(180deg);
}
/*--------------main--------------*/
.top-decoration{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
}
.top-decoration__line{
    width: 410px;
    height: 5px;
    border-top: 1px solid #e4e9eb;
    margin-top: 10px;
    
}
.top-decoration__triangle{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
    border-right: 42px solid transparent;
    border-top: 25px solid #2f2f2f;;
}
/*--------------hexagon-box--------------*/
.hexagon {
  position: relative;
  width: 180px; 
  height: 103.9px;
  margin: 51.9px 0;
  background-size: auto 207.85px;
  background-position: center;
}
.hexagon_back1,
.hexagon_back7{
  background-image: url(../images/img33.png);
}
.hexagon_back2,
.hexagon_back8{
  background-image: url(../images/img34.png);
}
.hexagon_back3,
.hexagon_back9{
  background-image: url(../images/img35.png);
}
.hexagon_back4,
.hexagon_back10{
  background-image: url(../images/img37.png);
}
.hexagon_back5,
.hexagon_back11{
  background-image: url(../images/img40.png);
}
.hexagon_back6,
.hexagon_back12{
  background-image: url(../images/img41.png);
}
.hexagon_back13{
  background-image: url(../images/img42.png);
}
.hexagon__top,
.hexagon__bottom {
  position: absolute;
  z-index: 1;
  width: 127.28px;
  height: 127.28px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 26.36px;
}
.hexagon__top:after,
.hexagon__bottom:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 103.9px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.hexagon__top{
  top: -63.64px;
}
.hexagon__top:after {
  background-position: center top;
}
.hexagon__bottom {
  bottom: -63.64px;
}
.hexagon__bottom:after {
  background-position: center bottom;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 103.92px;
  z-index: 2;
  background: inherit;
}
.hexagon__vertical-line_left:after {
  background: transparent;
  border-left: 1px solid #e4e9eb;
  margin-left: -21px;
}
.hexagon__vertical-line_right:after {
  background: transparent;
  border-right: 1px solid #e4e9eb;
  padding-right: 21px;
}
.hexagon-box li:nth-child(even) span:first-child {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    margin-left: 8px;
}
.hexagon-box li:nth-child(odd) span:first-child {
    margin-left: 109px;
}
.hexagon-box li:nth-child(even) span{
    margin-bottom: 25px;
}
.hexagon-box {
    padding-bottom: 82px;
    padding-top: 54px;
    width: 1020px;
} 
.hexagon-box span {
    line-height: 129px;
    display: inline-block;
    position: relative;
    margin-bottom: -43px;
    margin-right: 16px;
}
.hexagon-box__list{
    padding-left: 20px;
    list-style: none;
}
.hexagon-box__item{
    width: 1020px;
}
.hexagon-box__list .hexagon-box__item:first-child{
    margin-top: -4px;
}
.hexagon-box__list .hexagon-box__item:last-child{
    margin-top: -71px;
}

/*--------------------------------------*/
.square-box{
    border-bottom: 1px solid #e4e9eb;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    padding-bottom: 11px;
    width: 960px;
}
.square-box__item{
    background-color: #ddd2c5;
    margin-left: 3px;
    width: 6px;
    height: 6px;
}
.square-box__item:hover{
    background-color: #8b8784;
    cursor: pointer;
}
/*--------------author--------------*/
.green{
    background-color: #2ab499;
    height: 341px;
    margin-top: 11px;
    position: relative;
}
.author{
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    height: 316px;
    left: 108px;
    padding-left: 20px;
    padding-top: 36px;
    position: absolute;
    top: 15px;
    width: 820px;
}
.hexagon_author-back{
    background-image: url(../images/author.png);
}
.hexagon_float{
    float: left;
    margin-right: 18px;
    margin-top: 70px;
}
.author__title{
    color:  #d8fcf5;
    font: 400 30px/5px 'Maven Pro', sans-serif; 
    margin-bottom: -5px;
}
.author__subtitle{
    color:  #1f816d;
    font: 400 18px/22px 'Maven Pro', sans-serif; 
}
.author__text{
    color:  #d7fcf5;
    font: 400 12px/22px 'Lato', sans-serif;
    font-family: Lato;
    width: 789px;
}
.icon-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 20px;
}
.icon-box__item{
    align-items: center;
    background-color: #a6dcd5;
    border: 1px solid #6cccbf;
    color: #00ad96;
    display: inline-block;
    line-height: 24px;
    margin: 0;
    width: 24px;
    height: 24px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.icon-box__item:hover{
    background-color: #7fd1c6;
    color: #00ad96;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-box__item_right{
    padding-left: 4px;
}
.icon-box__item_right-tw{
    padding-left: 7px;
}
/*--------------contacts--------------*/
.gray{
    background-color: #2e2e2e;
    height: 564px;
    padding: 13px 20px 0 20px; 
}
.contacts{
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    padding: 38px 0 162px 110px;
}
.contacts__title{
    color:  #e0e0e0;
    font: 400 30px/5px 'Maven Pro', sans-serif; 
    margin-bottom: -6px;
}
.contacts__subtitle{
    color:  #bebebe;
    font: 400 18px/22px 'Maven Pro', sans-serif;
}
.contacts__text{
    color: #bebebe;
    display: inline-block;    
    font: 400 12px/21px 'Lato', sans-serif;
    margin-top: 0;
}
.contacts__text_bold{
    color: #e0e0e0;
    font-weight: 900;
}
.contacts__item_top{
    margin-top: 31px;
}
.input-box{
    float: left;
    margin-right: 20px;
    width: 580px;
}
.input-box__item{
    background-color: #434343;
    border: 1px solid #434343;
    color:  #bebebe;
    font: 400 11px/22px 'Lato', sans-serif;
    margin-bottom: 16px;
    padding: 12px;
    width: 580px;
    height: 38px;    
}
.input-box__item-textarea{
    height: 150px;
    text-transform: capitalize;
}
.input-box__item[type="text"]{
    text-transform: capitalize;
}
.contacts__text_width{
    height: 117px;
    width: 180px;
}
.contacts__icon{
    color: #2ab499;
    margin-right: 6px;
    -moz-transition: linear;
    -o-transition: linear;
    -webkit-transition: linear;
}
.contacts__icon span:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.contacts__button{
    color: #d7fcf5;
    background-color: #2eb398;
    border-color: #2eb398;
    font: 700 11px/22px 'Lato', sans-serif;
    margin-left: 490px;
    text-transform: uppercase;
    height: 37px;
    width: 90px;
}
.contacts__button:hover{
    background-color: #a6dcd5;
    color: #00ad96;
    cursor: pointer;
}
/*--------------footer--------------*/
.footer{
    background-color: #1c1c1c;
    color:  #454545;
    font: 400 11px 'Maven Pro', sans-serif;
    height: 43px;
    padding-left: 39px;
    padding-top: 16px;
}
.footer__text{
    margin: 0;
}